/* Google Fonts link */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background:#f2f2f2;
}

h1, h2{
    margin: 0 0 0 0;
}

/*Styling for the side navigation*/
.sidenav{
    display:block;
    width:15%;
    position:absolute;
    bottom:0;
    left:0;
    top:150px;
    height:700px;
    background: #414141;
    margin-left:0;
}

.sidenav ul{
    padding-left:25px;
    margin:auto;
}

.sidenav ul li{
    list-style:none;
}

.sidenav a {
    padding-top:40px;
    text-decoration: none;
    font-size: 1.25em;
    color: #fff;
    display: block;
}

.sidenav h2{
    color: #fff;
    text-decoration:underline;
    padding-left: 25px;
    padding-top: 10px;
}

.sidenav a:hover {
    color: #97FD43;
}

.sidenav img{
    height:30px;
    width:auto;
    padding-right:15px;
}

/*Styling for the top bar*/
.topbar{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    background: #1E1E1E;
}

.topbar a{
    text-decoration: none;
}

.loggedin{
    display:flex;
    justify-content:space-between;
    height:150px;
    width:350px;
}

#username{
    display:flex;
    align-items:center;
    justify-content:center;
    height:150px;
    width:60%;
    color: #fff;
    padding-right: 20px;
}

#logout{
    display:flex;
    height:150px;
    width:30%;
    align-items: center;
}

#logout img{
    height:50px;
    width:auto;
}

#logo{
    height:140px;
    width:auto;
    padding-left:20px;
}

/*styling for main content*/
main{
    margin-left: 15%;
    height: 700px;
}

/*styling for the footer*/
footer{
    height: 100px;
    text-align: center;
    background: #1E1E1E;
    color:#fff;
}

/*styling for the weight tracker page*/
.goalselect{
    display:flex;
    justify-content:space-around;
    height:250px;
    width:70%;
    margin-left:13%;
}

#select{
    text-decoration:underline;
}

.goalselect figure{
    display: flex;
    justify-content: space-around;
    height: 250px;
    margin: 0 0 0 0;
    flex-direction:column;
    text-align:center;
}

.goalselect figure img{
    height: 200px;
    width:auto;
}

.goalselect figure img:hover{
    margin-bottom: 10px;
}

#pagetitle{
    text-align:center;
    height:100px;
    width: 100%;
}

.container{
    height: 100px;
    width: 100%;
    text-align:center;
}

/*styling for the gain muscle page*/
.formcontainer{
    height:200px;
    width:30%;
}

.formcontainer button{
    float:right;
    padding: 5px 5px 5px 5px;
}

.formcontainer form table tr td{
    padding-bottom:20px;
}

/*styling for the moderate lvl page*/
#caloriegoal{
    margin:auto;
    height: 200px;
    width: 400px;
}
